<?xml version="1.0"?>
<config>
    <modules>
        <Kega_Init>
            <version>0.1.5</version>
        </Kega_Init>
    </modules>
    <global>
        <helpers>
            <init>
                <class>Kega_Init_Helper</class>
            </init>
        </helpers>
        <models>
            <init>
                <class>Kega_Init_Model</class>
            </init>
        </models>
    </global>
    <frontend>
        <!--
            <layout>
                <updates>
                    <init>
                        <file>init.xml</file>
                    </init>
                </updates>
            </layout>
            <translate>
                <modules>
                    <Kega_Init>
                        <files>
                            <default>Kega_Init.csv</default>
                        </files>
                    </Kega_Init>
                </modules>
            </translate>
        -->
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <kega_init>
                        <type>singleton</type>
                        <class>init/observer</class>
                        <method>addCatalogDisplaymodeXml</method>
                    </kega_init>
                </observers>
            </controller_action_layout_load_before>
            <sales_order_item_save_after>
                <observers>
                    <downloadable_observer>
                        <type>disabled</type>
                    </downloadable_observer>
                    <notifystock>
                        <type>disabled</type>
                    </notifystock>
                    <ordernew>
                        <type>disabled</type>
                    </ordernew>
                </observers>
            </sales_order_item_save_after>
        </events>
        <layout>
            <updates>
                <kega_init>
                    <file>init.xml</file>
                </kega_init>
            </updates>
        </layout>
    </frontend>
</config>